body{
    
    background-color: slategray
}


header{
    font-size: 3em;
    font-family: fantasy;
    text-align: center;

}

p{
    text-align: center;
    font-family: fantasy;
    font-size: 20px
    
    
    
    
}